# Core functionality - changes here should be rare!
/src/app.py                   @anhhaoaries
/src/backend/database.py      @anhhaoaries
/src/backend/routers/auth.py  @anhhaoaries

# The frontend will need refactored soon to be more object oriented.
/src/static/   @anhhaoaries
